@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Inicio da configuração do header */

/*Removendo configurações individuais dos navegadores*/
* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body {
    width: 100%;
    height: 2491px;
    background-color: #000000;
}
.banner{
    width: auto;
    height: 605px;
    border-bottom: 1px solid #33a8db;
    text-align: center;
    background-image: url('/assets/images/banner.png'), linear-gradient(#000000,#31a8dd60,#000000);
    background-size: 100% 100%;
}
.banner-content {
    width: 510px;
    height: 393px;
    top: 56px;
    margin:auto;

    position: relative;
    gap: 16px;
}
.logo {
    width: 268px;
    height: 268px;
    margin: auto;
    background:#00000020;
    border-radius: 50%;
}
.logo img{
    height: 214px;
    position: relative;
    top: 27px;
    margin: auto;
}
.logo ~ h1{
    width: 434px;
    height: 47px;
    font-family: Raleway;
    font-weight: 900;
    font-size: 40px;
    line-height: 46.96px;
    color: transparent;
    margin: auto;
    position: relative;
    top: 16px;

    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo ~ p {
    width: 510px;
    height: 46px;
    margin:auto;
    position: relative;
    top: 30px;
    font-family: Raleway;
    font-weight: 400;
    font-size: larger;
    line-height: 23.48px;
    text-align: center;
    color: #ffffff;
}
.banner-content button {
    width: 326px;
    height: 57px;
    margin: auto;
    position:relative;
    top: 14%;
    gap: 31px;
    padding: 19px 42px;

    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 1;
    background-color: transparent;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 900;
    line-height: 18.78px;
    letter-spacing: 0.21em;
    color: #31A8DD;
    text-transform: uppercase;
    text-align: center;    
}
.banner-content button:hover {
    background-image: linear-gradient(#3ba1cd,#1572b7);
    color:white;
}

/*Inicio da configuração main */

#course-content {
    width: auto;
    height: 325px;
    margin: auto;
    top: 118px;
    bottom: 0px;
    position: relative;
}
#course-content h2 {
    width: 477px;
    height: 38px;
    margin: auto;
    font-family: Raleway;
    font-weight: 700;
    font-size: 31px;
    line-height: 37.57px;
    letter-spacing: 0.19em;
    color: #33a8db;
    text-transform:uppercase;
    text-align: center;
}
#course-content p {
    width: 792px;
    height: 38px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    margin: auto;
    top: 24px;
    bottom: 0px;
    position: relative;
    text-align: center;
    color: #ffffff;
}
.modules-list {
    margin: auto;
    top: 24px;
    bottom: 0px;
    position: relative;
}
.module {
    width: 535px;
    height: 51px;
    margin: 24px auto;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 50.78px;
    color: #ffffff;
    text-align: center;
}
.module span {
    color:#33a8db;
}
#transform-world {
    width: auto;
    height: 363px;
    top: 228px;
    bottom: 0;
    position:relative;
    border: #33a8db solid 1px;

    background-size:cover;
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
 }
#transform-world p {
    width: 244px;
    height: 141px;
    position: relative;
    top: 111px;
    bottom: 0px;
    left: 198px;

    font-family: Raleway;
    font-weight: 900;
    font-size: 40px;
    line-height: 46.96px;
    color: #ffffff;
    text-transform: lowercase;
    text-shadow: 2px 3px #33A8DB;
}
#professional-challenges {
    width: auto;
    height: 635px;
    text-align: center;
    top: 304px;
    position: relative;
}
#professional-challenges h2 {
    width: 746px;
    height: 76px;
    margin: auto;
    color: #33A8DB;

    font-family: Raleway;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4pt;
    word-spacing: 3pt;
}
#professional-challenges > img {
    width: 659px;
    height: 429px;
    margin: auto;
    position: relative;
    top: 32px;
}
#professional-challenges p {
    width: 792px;
    height: 76px;
    margin: auto;
    position: relative;
    top: 40px;


    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    color: #ffffff;
}
footer {
    width: auto;
    height: 170px;
    position: relative;
    top:393px;
    text-align: center;
    
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%);
}
.dio-logo {
    width: 310px;
    height: 44px;
    margin: auto;
    position:relative;
    top: 59px;
}
footer p {
    width: 259px;
    height: 19px;
    margin: auto;
    position: relative;
    top: 69px;
    color: white;

    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;

}
footer p a {
    font-weight: 700;
}